@font-face {font-family: "Pokemon Solid"; src: url("//db.onlinewebfonts.com/t/36d26dbcd032a9d91d891c9f22dfdec6.eot"); src: url("//db.onlinewebfonts.com/t/36d26dbcd032a9d91d891c9f22dfdec6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/36d26dbcd032a9d91d891c9f22dfdec6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/36d26dbcd032a9d91d891c9f22dfdec6.woff") format("woff"), url("//db.onlinewebfonts.com/t/36d26dbcd032a9d91d891c9f22dfdec6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/36d26dbcd032a9d91d891c9f22dfdec6.svg#Pokemon Solid") format("svg"); }


h1 {
    font-family: 'Pokemon Solid';
    letter-spacing: 0.4rem;
    margin: 5px;
    position: relative;
    left: 24%;
    font-size: 5rem;
    /* font-family: Impact, 'Arial Narrow Bold', sans-serif; */
    color: #ffcb05;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color:#2a75bb;
    /* text-shadow:
        0 1px 0 #2b41a2,
        0 2px 0 #293bb2,
        0 3px 0 #212f8d,
        0 4px 0 #151e5a,
        0 5px 0 #0b1031,
        0 6px 0 rgb(164, 161, 84),
        0 7px 0 rgb(54, 54, 46),
        0 8px 0 rgb(20, 20, 19),
        0 9px 0 rgb(20, 20, 19),
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15); */
}


.ordered-list {
    column-count: 4;
}

ol {
    position: relative;
    left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: outset;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 15px;
    cursor: pointer;
    max-width: 700px;
    position: relative;
}

p {
    position: relative;
    font-size: 3rem;
}

.instructions {
    position: relative;
    left: 23%;
    font-weight: bold;
    width: 53%;
    border-radius: 10px;
    padding: 15px;
    border-style: outset;
    background-color: #0d1966;
    color: white;
}

button {
    position: absolute;
    left: 70%;
    top: 57%;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #f6f3f3;
    background: linear-gradient(-180deg, rgb(221, 41, 41), rgb(221, 41, 41) 49%, rgb(218, 40, 40) 49%, rgb(26, 25, 25) 51%, rgb(249, 249, 249) 51%);
    border: 1px solid rgb(31, 28, 28);
    font-weight: bold;
    font-size: 1rem;
    align-content: flex-end;
    filter: drop-shadow(8px 5px 3px);
    cursor: pointer;
    color: #0d1966;
}



h2 {
    color: #2a75bb;
    font-size: 1.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px #4f4e4e;
    position: relative;
    left: 20%
}


.found-pokemon {
    margin-left: 60px;
}

body {
    background: linear-gradient(rgb(236, 236, 20), rgb(243, 181, 88))
}


.caught-pokemon {
    grid-template-columns: 60px 60px;
    margin-left: 55px;
}


.pokemon-detail-container {
    margin-left: 10px;
    display: grid;
    grid-gap: 5px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    margin: 4px;
    font-weight: bold;
    color: #112396;
}

.message {
    margin-left: 85px;
}