h1 {
    margin: 5px;
    position: relative;
    left: 29%;
    font-size: 5.5rem;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: #2a75bb;
    text-shadow:
        0 1px 0 rgb(68, 64, 64),
        0 2px 0 #454040,
        0 3px 0 rgb(65, 60, 60),
        0 4px 0 #3f3a3a,
        0 5px 0 rgb(66, 60, 60),
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}


.ordered-list {
    column-count: 3;
}

ol {
    position: relative;
    left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: outset;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 15px;
    cursor: pointer;
    max-width: 700px;
    position: relative;
}

p {
    position: relative;
    font-size: 3rem;
}

.instructions {
    position: relative;
    left: 23%;
    font-weight: bold;
    width: 53%;
    border-radius: 10px;
    padding: 15px;
    border-style: outset;
    background-color: #0d1966;
    color: white;
}

button {
    position: absolute;
    left: 50%;
    top: 45%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #f6f3f3;
    background: linear-gradient(-180deg, rgb(221, 41, 41), rgb(221, 41, 41) 49%, rgb(218, 40, 40) 49%, rgb(26, 25, 25) 51%, rgb(249, 249, 249) 51%);
    border: 1px solid rgb(31, 28, 28);
    font-weight: bold;
    font-size: 1rem;
    align-content: flex-end;
    filter: drop-shadow(8px 5px 3px);
    cursor: pointer;
    color: #0d1966;
}



h2 {
    color: #2a75bb;
    font-size: 1.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px #4f4e4e;
    position: relative;
    left: 20%
}


.found-pokemon {
    margin-left: 60px;
}

body {
    background: linear-gradient(rgb(230, 230, 116), rgb(243, 181, 88))
}


.caught-pokemon {
    grid-template-columns: 60px 60px;
    margin-left: 55px;
}


.pokemon-detail-container {
    margin-left: 10px;
    display: grid;
    grid-gap: 5px;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    margin: 4px;
    font-weight: bold;
    color: #112396;
}

.message {
    margin-left: 85px;
}