@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body, html {
  font-family: 'Banger', cursive;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: blue;
  background: blue;
}
